CREATE TABLE IF NOT EXISTS public.notifications (id uuid PRIMARY KEY DEFAULT gen_random_uuid(), user_id uuid REFERENCES profiles(id) ON DELETE CASCADE, type text NOT NULL, data jsonb, is_read bool DEFAULT false, created_at timestamptz DEFAULT now()); ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Users
can
view
own
notifications\ ON public.notifications FOR SELECT USING (auth.uid() = user_id); CREATE POLICY \Users
can
update
own
notifications\ ON public.notifications FOR UPDATE USING (auth.uid() = user_id);
